html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;

  line-height: 1.5;
  font-family: "Open Sans", sans-serif;
  background-color: #ccc;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

img {
  display: block;
  width: 5rem;
}

section {
  padding: 2rem;
}

h2 {
  margin: 0 0 1.5rem;
  text-align: center;
}

ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

a {
  display: inline-block;
  padding: .5rem 1rem .6rem;
  background-color: #444;
  border: 3px solid #444;
  color: #fff;
  text-decoration: none;
}

a:hover {
  background-color: #000;
  border-color: #000;
}
